*{
    background-color: rgb(98, 98, 202);
    /* display: inline-block; */
    text-align: center;
}
#heading{
    font-size: 80px;}
 
   
    h2{
        display: inline-block;
        font-size:90px;
    }
h1{
    display: inline-block;
    text-align: center;
    width: 200px;
    font-size: 70px;
    color: black;
    background-color:cornflowerblue;
    /* background-color:rgb(90, 59, 59); */
}
button{
    width: 300px;
    height: 60px;
    font-size: 30px;
    box-shadow: 2px cornflowerblue;
    background-color: cornflowerblue;
}
